{{ 'section-main-quiz.css' | asset_url | stylesheet_tag }}

<section class="section-{{ section.id }}-padding progress-section twcss-fixed twcss-bottom-0 twcss-left-0 twcss-w-full twcss-bg-[rgb(var(--color-base-background-1))] twcss-z-10">
  <div class="page-width">
    <div
      class="twcss-my-[1.875rem] xl:twcss-pr-[9.9375rem] twcss-flex twcss-flex-col md:twcss-flex-row twcss-items-center twcss-justify-between twcss-gap-5 md:twcss-gap-10 xl:twcss-gap-20"
    >
      <div
        data-prev-section=""
        id="back-button"
        class="twcss-text-sm twcss-font-semibold twcss-flex twcss-items-center twcss-justify-between twcss-w-[4.5625rem]"
        onclick="showPrevSection(this)"
      >
        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.0624 3.25703L9.18044 3.37498L5.40883 7.14606L5.05521 7.49964L5.40883 7.85321L9.18044 11.6243L9.0624 11.7422L4.8198 7.49964L9.0624 3.25703Z" fill="rgb(var(--color-base-text))" stroke="rgb(var(--color-base-text))"/>
        </svg>
        <span>Go Back</span>
      </div>
      <div class="twcss-w-full md:twcss-w-[86%]">
        <div
          id="bar"
          class="twcss-h-[0.625rem] twcss-rounded-xl"
        >
          <div id="progress" class="twcss-h-full twcss-bg-[rgb(var(--color-base-text))] twcss-rounded-xl"></div>
        </div>
        <div class="twcss-flex twcss-justify-between twcss-font-bold twcss-mt-[0.625rem]">
          <span>{{ section.settings.start_text }}</span>
          <span>{{ section.settings.end_text }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.quiz_progress.name",
  "limit": 1,
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "text",
      "id": "start_text",
      "label": "t:sections.quiz_progress.settings.start_text.label",
      "default": "Start"
    },
    {
      "type": "text",
      "id": "end_text",
      "label": "t:sections.quiz_progress.settings.end_text.label",
      "default": "Your perfect pair"
    }
  ]
}
{% endschema %}
