.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: auto;
  width: 100%;
}

.list-social__link {
  align-items: center;
  display: flex;
  color: rgb(var(--color-foreground));
}

.list-social__link:hover {
  filter: brightness(0.85);
}
