.banner-wrapper {
  background-color: rgba(var(--color-base-accent-1), 0.12);
}

.banner-wrapper .button--secondary {
  padding: 1.125rem 3rem;
}

.banner-image-wrapper {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.banner-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.text-color-opacity-80 {
  color: rgba(var(--color-foreground), 0.8);
}
